<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error Message</title>
    <link rel="stylesheet" href="../message.css" />
  </head>
  <body>
    <div id="container">
      <h1>❌ Error</h1>
      <p class="emoji">⚠️ <%= message %></p>
    </div>
    <script>
      setTimeout(() => {
        window.location.href = `<%= redirect %>`;
      }, 1000);
    </script>
  </body>
</html>