<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Input Form</title>
    <link href="./listuser.css" rel="stylesheet" />
</head>
<body>
   <%- include('layouts/nav.ejs') %>
   <div class="base-container">
   <% data.forEach((employee)=>{
    %> <div class='container'>
      <div><%= employee.name %></div>
      <div>
        <a href="/edit/<%= employee.id %>" >Edit</a>
      <a href = "/delete/<%= employee.id %>">Delete</a>
      </div>
    </div>
  <% }) %>
</div>

</body>
</html>
