.container {
  display: flex;
  flex-direction: row;
  background: rgb(32, 27, 27);
  justify-content: space-around;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  gap: 20px;
  color: #ffffff;
  width: 80%;
  text-align: center;
}
.base-container {
  width: 100%;
  margin-top: 150px;
  height: 100%;
}

.container a {
  color: black;
  text-decoration: none;
  background-color: #e6b800;
  padding: 10px 20px;
  border-radius: 5px;
}
